/*****
P O L I C E 
*****/

@font-face {
    font-family: fc;
    src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap);
}

/*****
G É N É R A L 
*****/
  
header {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: 'Raleway', sans-serif;
}

.body {
    margin: 0 50px 50px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.puce {
    margin-top: 10px;
}

.blue {
    color:#0065FC;
}

.grey {
    color: #F2F2F2; 
}

/*****
T E X T
*****/

h2 {
     font-weight: bold;
     margin-left: 40px;
 }

 h3 {

}

h4 {
    font-size: 1.15em;
}

/*****
H E A D E R 
*****/

#logo_reservia { 
    flex-direction: row;
    
}

/*****
S E A R C H 
*****/

.box-search {
    border: 1px black unset;
    border-radius: 15px;
}

/*****
F I L T R E S 
*****/
.filtres {
    display: flex;
    border-radius: 50px;
    margin-top: 20px;
}

.boutton {
    border-radius: 50%;
    background-color: white;
    border: 1px black solid;
    padding: 20px;
    margin-top: 10px;
    height: 1px;
    color: #0065FC;
    display: flex;
    align-items: center;
}

.boutton2 {
    border-radius: 100px;
    background-color: white;
    border: 1px black solid;
    padding: 20px;
    margin-top: 10px;
    height: 1px;
    display: flex;
    align-items: center;
}

.symbolefiltre {
    border: 1px black solid;
    border-radius: 50%;
    color: #0065FC;    
}

.top {
    margin-right: 65px;
}

/*****
N A V I G A T I O N 
*****/

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

nav li {
        margin-right: 15px;
}

a {
    text-decoration: none;
}

#id {
    justify-content: flex-end;
    display: flex;
}


/*****
P I C T U R E S__H O S T 
*****/

.pic1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 210px;
    height: 108px;
    margin: auto;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

figcaption {
    margin-top: -15px;
}

figcaption p {
    margin-top: -15px;
}

.host {
    background-color: white;
    border-radius: 15px;
    width: 215px;
    height: 200px;
    padding: 2.5px;
    box-shadow: 0 0 15px;
    box-sizing: border-box;
    align-items: center;
}

.host2 {
    display: flex;
    padding: 2.5px;
    background-color: white;
    border-radius: 15px;
    width: 339px;
    height: 192px;
    border: 1px black solid;
    box-shadow: 0 0 15px;
    box-sizing: border-box;
    align-items: center;
}

.info {
    background-color: #0065FC;
    color: white;
    border-radius: 50%;
    margin-right: 1em;
}

.background-host {
    background-color:#F2F2F2;
    border-radius: 15px;
    width: 900px;
}

.dispoflex {
    display: flex;
    flex-wrap: wrap;
}

.more {
    margin-left: 40px;
}

/*****
P I C T U R E S__T R E N D 
*****/

.loc {
    background-color:#F2F2F2 ;
    border-radius: 15px;
}
/*
.pic {
    display: flex;
    width: 300px;
    height: 122px;
}
*/

.pic2 {
    display: flex;
    flex-direction: column;
    border: 1px black unset;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 122px;
    height: 180px;
    margin: auto;
}

.background-host-stonks {
    background-color:#F2F2F2;
    border-radius: 15px;
    width: 405px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*****
A C T I V I T Y 
*****/

.activity1 {
    width: 300px;
    height: 450px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;   
}

.activity2 {
    width: 250px;
    height: 175px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.conteneuractivity {
    display: flex;
}

.conteneuractivity2 {
    display: flex;
    flex-direction: column;
}

.figureactivity {
    border-radius: 15px;
    box-shadow: 0 0 15px;
}

.nameactivity {
    margin-top: 25px;
    margin-left: 20px;
}

/*****
F O O T E R 
*****/

footer {
    background-color:#F2F2F2;
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
    width: 1440px;
    justify-content: space-between;
}

.all-host {
    display: flex;
    justify-content: space-between
}
.tittle-stonks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*****
.bulles {
    border: 1px black solid;
    display: flex;
    border-radius: 100px;
}
*****/
