/*****
Général
*****/
  
header {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0 50px 50px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.blue {
    color:#0065FC;
}

.grey {
    color: #F2F2F2; 
}

/*****
Text setting
*****/

h2 {
     margin-left: 25px;
 }

 h3 {
    font-size: 1.15em;
    font-weight: bold;
}

/*****
Header
*****/

#logo_reservia { 
    flex-direction: row;
    
}

/*****
Search
*****/

.box-search {
    border: 1px black unset;
    border-radius: 15px;
}

/*****
Filtres
*****/
.filtres {
    display: flex;
    border-radius: 50px;
}

.boutton {
    border-radius: 100px;
    background-color: white;
    border: 1px black solid;
}

.symbolefiltre {
    border: 1px black solid;
    border-radius: 50%;
}

/*****
Navigation
*****/

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

nav li {
        margin-right: 15px;
}

a {
    text-decoration: none;
}


/*****
Pictures Host
*****/

.pic1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 1px black unset;
    border-radius: 5px;
    width: 237px;
    height: 108px;
    margin: auto;
    box-sizing: border-box;
}

figcaption {
    margin-top: -15px;
}

figcaption p {
    margin-top: -15px;
}

.host {
    background-color: white;
    border-radius: 15px;
    width: 243px;
    height: 192px;
    border: 1px black solid;
    padding: 2.5px;
    box-shadow: 0 0 15px;
    box-sizing: border-box;
}

.host2 {
    display: flex;
    flex-direction: column;
    padding: 2.5px;
    background-color: white;
    border-radius: 15px;
    width: 243px;
    height: 192px;
    border: 1px black solid;
    box-shadow: 0 0 15px;
    box-sizing: border-box;
}

.info {
    background-color: #0065FC;
    color: white;
    border: 1px black solid;
    border-radius: 50%;
    margin-right: 1em;
}

.background-host {
    background-color:#F2F2F2;
    border-radius: 15px;
    width: 1200px;
    border: 1px black solid;
}

.dispoflex {
    display: flex;
    flex-wrap: wrap;
}

/*****
Pictures Trend
*****/

.loc {
    background-color:#F2F2F2 ;
    border-radius: 15px;
}

.pic {
    display: flex;
    width: 300px;
    height: 150px;
}

.pic2 {
    display: flex;
    flex-direction: column;
    border: 1px black unset;
    border-radius: 5px;
    width: 237px;
    height: 108px;
    margin: auto;
}

.background-host-stonks {
    background-color:#F2F2F2;
    border-radius: 15px;
    width: 417px;
}

/*****
Activity
*****/

.activity1 {
    width: 300px;
    height: 400px;
    border-radius: 15px;    
}

.activity2 {
    width: 250px;
    height: 175px;
    border-radius: 15px;
}

.conteneuractivity {
    display: flex;
}

.conteneuractivity2 {
    display: flex;
    flex-direction: column;
}

/*****
Footer
*****/

footer {
    background-color:#F2F2F2;
    display: flex;
}

.footer {
    display: flex;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
    width: 1440px;
}

.all-host {
    display: flex;
    justify-content: space-between;
}
.tittle-stonks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#id {
    justify-content: flex-end;
    display: flex;
}