/*****
F O N T 
*****/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,200&display=swap');

/*****
G É N É R A L 
*****/

header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 48px;
}

body {
    font-family: 'Raleway', sans-serif;
    justify-content: space-around;
    margin: 0;
    box-sizing: border-box;
}

.main {
    margin: 0 50px 50px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.puce {
    margin-top: 10px;
}

.blue {
    color:#0065FC;
}

.grey {
    color: #F2F2F2; 
}

.fa-star{
    display: flex;
    align-items: flex-end;
}

.description {
    margin-left: 1.5em;
}

.dispo-host a{
    color: black;
}

.dispo-host2 a{
    color: black;
}

.conteneuractivity a{
    color: black;
}

.conteneuractivity2 a{
    color: black;
}

/*****
T E X T
*****/

h1{
    font-size: 1.3em;
}

h2 {
     font-weight: bold;
     margin-left: 40px;
 }

 h3 {
     font-size: 1em ;
     margin: 0;
 }

h4 {
    font-size: 1.15em;
}

/*****
H E A D E R 
*****/

#logo_reservia { 
    flex-direction: row;
    margin-left: 1.5em;
    
}

/*****
S E A R C H 
*****/

.box-search {
    border: 1px unset black;
    border-radius: 15px;
    display: flex;
}

.country {
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 30px;
    padding: 13px;
    z-index: 1;
    position: relative;
}

input{
    border: 1.5px solid #f2f2f2;
    padding-left: 10px;
}

::placeholder{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 10px;
    font-size: 0.85em;
}

.search{
    background-color: #0065fc;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 45px;
    width: 132px;
    justify-content: space-around;
    font-size: 1.25em;
    position: relative;
    z-index: 0;
    display: flex;
    border-style: none;
    align-items: center;
}

.bar-two{
    display: none;
}

.town {
    height: 40px;
    width: 230px;
    font-size: 1.25em;
    position: relative;
    z-index: 1;
}

/*****
F I L T R E S 
*****/

.filtres {
    display: flex;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 1.5em;
}

.iconefiltre{
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}
.name-filtre {
   margin-left: 13px;
   margin-right: 22px;
}

.fa-money-bill-wave-alt {
    border-radius: 50%;
    padding-left: 14.5px;
    padding-right: 14.5px;
    padding-bottom: 15px;
    padding-top: 14.5px;
    background-color: #deebff;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    color: #0065fc;
    }

.fa-child {
    border-radius: 50%;
    padding-left: 15.5px;
    padding-right: 15.5px;
    padding-bottom: 14px;
    padding-top: 14.5px;
    background-color: #deebff;
    position: relative;
    z-index: 1;
    color: #0065fc;
}

.fa-heart {
    border-radius: 50%;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 14.5px;
    padding-top: 14px;
    background-color: #deebff;
    position: relative;
    z-index: 1;
    color: #0065fc;
}

.fa-dog {
    border-radius: 50%;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 14.5px;
    padding-top: 14px;
    background-color: #deebff;
    position: relative;
    z-index: 1;
    color: #0065fc;
}

.boutton2 {
    border-radius: 100px;
    background-color: white;
    margin-top: 10px;
    height: 45px;
    display: flex;
    align-items: center;
    font-weight: bold;
    position: relative;
    z-index: 0;
    border: 1px solid #d9d9d9;
    margin-left: 25px;
}

.boutton2:hover {
    color: #0065FC;
    background-color: #e8e8e8;
}

.symbolefiltre {
    border: 1px black solid;
    border-radius: 50%;
    color: #0065FC;    
}

.top {
    margin-right: 65px;
}

/*****
N A V I G A T I O N 
*****/

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

nav li {
        margin-right: 15px;
}

a {
    text-decoration: none;
}

.link-host, .link-activity{
    padding-top: 62px;
    margin: 20px;
    color: black;
}

.link-signup{
    padding-top: 62px;
    margin: 20px;
    color: #0065fc;
    font-weight: bold;
}

li a:hover {
    text-decoration: solid;
    color: #106ffc;
    border-top: 2px #106ffc solid;
}

#navigation {
    justify-content: flex-end;
    display: flex;
}

#hebergements {
    margin-top: 45px;
}

#activites {
    margin-bottom: 0px;
    margin-top: 60px;
}


/*****
P I C T U R E S__H O S T 
*****/

.pic1 {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    width: 96%;
    height: 108px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 113px;
}

.description{
    margin-left: 8px;
}

figcaption {
    margin: 0px;
}

figcaption p {
    margin: 0;
}

.all-host {
    display: flex;
    justify-content: space-around;
    height: 624px;
}

.host {
    background-color: white;
    border-radius: 15px;
    padding: 2.5px;
    box-shadow: 0px 0px 15px #dddddd;
    box-sizing: border-box;
    align-items: center;
    margin: 0px;
    width: 100%;
}

.link-host5{
    width: 26.5%;
    margin: 21px;
    margin-top: 27px;
}

.host2 {
    display: flex;
    padding: 3px;
    background-color: white;
    border-radius: 15px;
    height: 144px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0px 0px 15px #dddddd;
}

.info {
    background-color: #0065FC;
    color: white;
    border-radius: 50%;
    margin-right: 1em;
}

.infohost {
    margin-left: 1.5em;
    margin-bottom: 33px;
}

.background-host {
    background-color:#F2F2F2;
    border-radius: 15px;
    width: 66.5%;
    height: 625px;
}

.dispo-host {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.more {
    margin-left: 40px;
    font-weight: bold;
}

/*****
P I C T U R E S__T R E N D 
*****/

.loc {
    background-color:#F2F2F2 ;
    border-radius: 15px;
}

.pic2 {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 40%;
    height: 135px;
    object-fit: cover;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 4px;
    box-shadow: #dddddd;
}

.background-host-stonks {
    background-color:#F2F2F2;
    border-radius: 15px;
    width: 31.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 625px;
}

.tittle-stonks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dispo-host2 {
    margin-top: 15px;
}

.star {
    margin-top: 40px;
}

.star2 {
    margin-top: 40px;
}

.star3 {
    margin-top: 40px;
}

.chambreshotes {
    margin-left: 10px;
    margin-top: 10px;
}

.hotelsoleil {
    margin-left: 10px;
    margin-top: 10px;
}

.bleuetblanc {
    margin-left: 10px;
    margin-top: 10px;
}

/*****
A C T I V I T Y 
*****/

.all-activity {
    box-sizing: border-box;

}

.activity1 {
    width: 300px;
    height: 500px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;   
}

.activity2 {
    width: 250px;
    height: 175px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.vieux-port{
    object-fit: cover;
    width: 100%;
}

.ilefrioul {
    width: 100%;
    height: 160px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.fortpomegues {
    width: 100%;
    height: 240px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.notredame {
    width: 100%;
    height: 192px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.parc {
    width: 100%;
    height: 207px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.calanques {
    height: 500px;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.conteneuractivity {
    display: flex;
    box-sizing: border-box;
    margin: 0;
}

.conteneuractivity2 {
    display: flex;
    flex-direction: column;
}

.figureactivity {
    border-radius: 15px;
    box-shadow: 0px 0px 15px #e8e8e8;
    margin: 0px;
    max-width: 300px;
}

.figureactivity figcaption{
    height: 35px;
}

.nameactivity {
    margin-top: 25px;
    margin-left: 10px;
}

.link-activity1{
    padding-top: 0px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.link-activity2{
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

/*****
F O O T E R 
*****/

footer {
    background-color:#F2F2F2;
    display: flex;
    margin-top: 55px;
    height: 150px;
}

.support {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
}

.support2{
    display: flex;
    justify-content: space-between;
}

.support2 ul{
    padding-left: 185px;
    
}

.last-support{
    padding-left: 250px;
}

.help {
    font-weight: bold;
}

/*****
M E D I A__Q U E R I E S
taille max mobile, puis gerer en fonction de la resolution inferieur 
de meme sur tablette
flex wrap
adentation html , ok
viewport ajouter au html
*****/

@media screen and (max-width: 1310px) {
    
    .description{
        font-size: 0.7em;
    }

    .hotelsoleil, .chambreshotes, .bleuetblanc{
        font-size: 0.85em;
    }

    .star, .star3{
        margin-top: 25px;
    }

    .star2{
        margin-top: 20px;
    }

    .background-host{
        height: 590px;
    }

    .background-host-stonks{
        height: 590px;
    }

    .host2{
        height: 125px;
    }

    .pic2{
        height: 115px;
    }

    .nameactivity{
        font-size: 12px;
    }

    .figureactivity{
        max-width: initial;
    }

}

@media screen and (max-width: 1024px) {
    
    .main{
        margin: 20px;
    }

    .all-host{
        flex-direction: column-reverse;
        height: initial;
    }

    .background-host{
        background-color: initial;
        height: initial;
        width: initial;
    }

    .background-host-stonks{
        justify-content: initial;
        height: initial;
        width: 100%;
    }

    .pic2{
        width: 98%;
        height: 180px;
        border-bottom-left-radius: initial;
        border-top-right-radius: 15px;
    }

    .host2{
        flex-direction: column;
        height: 250px;
    }

    .description{
        font-size: 1em;
    }

    .dispo-host2{
        display: flex;
        flex-direction: column;
    }

    .hotelsoleil, .bleuetblanc{
        margin-right: 30px;
        margin-left: 0px;
    }

    .chambreshotes, .hotelsoleil, .bleuetblanc{
        display: contents;
        font-size: 0.9em;
    }

    .star, .star3{
        margin-top: 5px;
    }

    .star2{
        margin-top: 5px;
    }

    .link-host5{
        width: 25.8%;
    }

    .nameactivity{
        font-size: 1em;
    }

    .fortpomegues, .ilefrioul, .vieux-port, .calanques, .notredame, .parc{
        width: 100%;
        height: 135px;
    }

    .conteneuractivity{
        flex-direction: column;
    }

    .figureactivity{
        height: 200px;
    }

    .support2 ul{
        padding-left: 35px;
    }

    .support-bis{
        padding: 20px;
    }

    .last-support{
        padding-left: 105px;
        margin-top: 35px;
        margin-right: 20px;
    }

    footer{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:866px) {
    
    .description{
        font-size: 0.65em;
    }
}

@media screen and (max-width: 600px) {
    
    header{
        display: initial;
    }

    .main{
        margin: 0px;
    }

    #logo_reservia{
        position: relative;
        left: 23px;
        top: 30px;
    }

    nav ul{
        padding: 0px;
    }

    .description{
        margin-left: 20px;
    }


    .box-search{
        margin-left: 10px;
        margin-right: 10px;
    }

    .search{
        display: none;
    }

    .town{
        width: 100%;
    }

    .bar-two{
        display: initial;
        background-color: #0065fc;
        color: white;
        border-radius: 15%;
        height: 45px;
        width: 50px;
        justify-content: space-around;
        font-size: 1.25em;
        position: relative;
        z-index: 0;
        display: flex;
        border-style: none;
        align-items: center;
    }

    .link-signup{
        position: absolute;
        right: 23px;
        top: 43px;
        padding: 0px;
        margin: 0px;
    }

    .link-host, .link-activity{
        padding: initial;
        border-bottom: 2px solid #f2f2f2;
        margin-top: 45px;
        width: 50%;

    }

    li a:hover {
        padding-bottom: 10px;
        text-decoration: solid;
        color: #106ffc;
        border-bottom: 2px #106ffc solid;
        border-top: initial;
    }

    .activity-placement, .host-placement{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        width: 50%;
    }

    .filtres{
        flex-direction: column;
        margin-top: 0px;
    }

    .iconefiltre{
        margin: 0px;
        flex-wrap: wrap;
    }

    .search{
        border-radius: 15px;
        width: 47px;
        height: 50px;
    }

    .link-host{
        flex-wrap: wrap;
        border-top: none;
        border-bottom: 2px ;
    }

    .link-activity{
        justify-content: center;
        flex-wrap: wrap;
    }

    /*****
    H É B E R G E M E N T S
    *****/


    h2{
        margin-left: 20px;
    }
    
    .all-host{
        flex-direction: column-reverse;
        height: initial;
    }

    .host{
        width: 92%;
        height: 185px;
        margin: 15px;
    }

    .pic1{
        width: 97.5%;
    }

    .host2{
        flex-direction: initial;
        height: 144px;
        width: 92%;
        margin: 15px;
        margin-top: 10px;
    }

    .chambreshotes, .hotelsoleil, .bleuetblanc{
        display: initial;
    }

    .description{
        font-size: 1em;
    }

    .pic2{
        width: 40%;
        height: 131px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: initial;
    }

    .background-host{
        border-radius: initial;
        flex-wrap: wrap;
        background-color: white;
        height: initial;
        width: 100%;
    }

    .dispo-host{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: initial;
        background-color: white;
    }

    .dispo-host2{
        flex-direction: column;
        justify-content: center;
    }

    .top{
        margin-right: 115px;
    }

    .background-host-stonks{
        border-radius: initial;
        flex-wrap: wrap;
        width: 100%;
    }

    .hotelsoleil, .bleuetblanc{
        margin-left: 10px;
    }

    .chambreshotes, .hotelsoleil, .bleuetblanc{
        display: initial;
    }

    .star, .star2, .star3{
        margin-top: 50px;
    }

    .link-host5{
        margin: initial;
        margin-top: 10px;
    }

    /*****
    A C T I V I T É S 
    *****/

    .figureactivity{
        flex-wrap: wrap;
        width: 100%;
        height: 190px;
    }

    .link-host5{
        width: 100%;
    }

    .nameactivity{
        margin-top: 15px;
    }

    .fortpomegues, .ilefrioul, .vieux-port, .calanques, .notredame, .parc{
        width: 100%;
        height: 133px;
    }
    .link-activity1, .link-activity2{
        flex-wrap: wrap;
        margin: 20px;
        padding: 0px;
    }

    .conteneuractivity{
        flex-direction: column;
    }

    .vieux-port .fortpomegues .ilefrioul{
        flex-wrap: wrap;
    }

    /*****
    F O O T E E R 
    *****/

    footer{
        flex-direction: column;
        height: initial;
    }

    .support{
        padding: 0px;
    }

    .support-bis{
        padding: 30px;
    }

    .support2 ul{
        padding: 30px;
    }

    .last-support{
        padding-left: 30px;
    }
}