.body {
    margin: 40px;
    margin-top: 25px;
}

/*****
Pictures
*****/
#logo_reservia {
    float: left;
}

.pic1 {
    border: 1px black unset;
    border-radius: 5px;
}

#conteneur {
    background-color: #F2F2F2;
    border-radius: 15px;
}

/**********
Navigation
**********/

nav {
    float: right;
}

nav ul {
    list-style: none;
    display: flex;
    text-align: right;
}

nav li {
    margin-right: 15px;
}

/*****
Text setting
*****/

#title {
    clear: both;
}

a {
    text-decoration: none;
}

/*****
Footer
*****/

footer {
    background-color:#F2F2F2;
}
 
ul {
    list-style: none;
}
